body {
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    background-color: #424949;
}

body,
h2,
div,
input,
button {
    padding: 0;
    margin: 0;
}

.add-nombres {
    margin-top: 2rem;
}

h1 {
    font-size: 2.2em;
}

.nombres {
    max-width: 600px;
    margin: auto;
    margin-top: 40px;
    background-color: #5499c7;
    border-radius: 15px;
    overflow: hidden;
    font-size: 1em;
}
.nombre {
    display: grid;
    grid-template-columns: minmax(100px, 300px) 1fr;
    border-bottom: 2px solid #083f67;
}

.options {
    display: flex;
    justify-self: end;
}
#name,
#add {
    padding: 4px 8px;
    margin: 10px;
    border: 2px solid #d68910;
    border-radius: 8px;
    outline: none;
}

.options button {
    background-color: transparent;
    border: none;
    margin: 5px 20px;
    outline: none;
}

.delete:hover {
    color: #444;
    cursor: pointer;
}

.imposible {
    color: #555;
}

.posible {
    color: #42f;
}

.posible:hover {
    color: #555;
    cursor: pointer;
}

.nombre h2 {
    padding: 10px;
}

@media screen and (min-width: 1280px) {
    .caja {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        position: fixed;
        margin: 15px;
        background: linear-gradient(
            45deg,
            #f09433 0%,
            #e6683c 25%,
            #dc2743 50%,
            #cc2366 75%,
            #bc1888 100%
        );
        color: transparent;
    }

    .caja1 {
        top: 0;
        left: 0;
        animation: trasladarAbajo 1s alternate infinite ease-out;
        z-index: 100;
    }

    .caja2 {
        background: linear-gradient(
            45deg,
            #f09433 0%,
            #e6683c 25%,
            #dc2743 50%,
            #cc2366 75%,
            #bc1888 100%
        );
        color: transparent;

        bottom: 0;
        left: 0;
        animation: trasladarArriba 2s alternate infinite ease-out;
    }

    .caja3 {
        background: linear-gradient(
            45deg,
            #f09433 0%,
            #e6683c 25%,
            #dc2743 50%,
            #cc2366 75%,
            #bc1888 100%
        );
        color: transparent;

        top: 0;
        right: 0;
        animation: trasladarAbajo 2s alternate infinite ease-out;
    }

    .gradiente-complementario {
        filter: invert(100%) brightness(100%);
    }

    .caja4 {
        background-color: #d68910;
        right: 0;
        bottom: 0;
        animation: trasladarArriba 1s alternate infinite ease-out;
    }

    @keyframes trasladarAbajo {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translate3d(10px);
        }

        100% {
            transform: translateY(415px);
        }
    }

    @keyframes trasladarArriba {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translate3d(10px);
        }
        100% {
            transform: translateY(-415px);
        }
    }
}
